:root {
  --font-family: 'RobotoRegular', sans-serif;
  --font-bold: 'RobotoBold', sans-serif;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url(../fonts/RobotoRegular.woff) format('woff'), url(../fonts/RobotoRegular.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'RobotoBold';
  src: url(../fonts/RobotoBold.woff) format('woff'), url(../fonts/RobotoBold.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

/* conteiner */
.conteiner {
  max-width: 1920px;
  text-align: center;
  margin: 0 auto;
}
.hero-hr {
  margin: 0 auto;
  background-color: #00c368;
  width: 184px;
  margin-bottom: 20px;
  height: 4px;
}
.advantages-hr {
  margin: 0 auto;
  background-color: #00c368;
  width: 184px;
  margin-bottom: 20px;
  height: 4px;
}
.reviews-hr {
  margin: 0 auto;
  background-color: #00c368;
  width: 184px;
  margin-bottom: 20px;
  height: 4px;
}
/* header */
.header-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 60px;
}
.header-logo {
  padding-left: 87px;
}
.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header-nav-wrapper_link {
  min-width: 117px;
  min-height: 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #a6abbd;
  padding: 4px 24px;
  border-radius: 8px;
  transition: all 0.3s ease-in;
}
.header-nav-wrapper_link:hover {
  background: #00c368;
  color: #fff;
}

.link_active {
  box-shadow: 0 8px 16px 0 rgba(0, 195, 104, 0.4);
  background: #00c368;
  border-radius: 8px;
  padding: 4px 24px;
  color: #fff;
}
.header-nav-wrapper_btn {
  margin-right: 84px;
  box-shadow: 0 8px 16px 0 rgba(0, 195, 104, 0.4);
  background: #00c368;
  border-radius: 8px;
  padding: 4px 24px;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

/* hero */
.hero-section {
  overflow: hidden;
  position: relative;
  padding-top: 75px;
  padding-bottom: 93px;
  background-image: url(../img/hero/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* paralax */
.paralax-img {
  position: absolute;
  transform: translate3d (0, 0, 0);
  z-index: -1;
}
.paralax-left {
  top: 0%;
  left: 0%;
}
.paralax-right {
  top: -25%;
  right: 0%;
}

.hero-section-img {
  display: none;
}

.hero-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-section-wrow-block_svg {
  color: #2e3a59;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.hero-section-wrow-block_svg:hover {
  color: #00c368;
}
.hero-section-wrow-block_content {
  max-width: 186px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #2e3a59;
}
.hero-section-wrow {
  display: flex;
  align-items: flex-start;
  column-gap: 100px;
}
.hero-section-top-row {
  margin-bottom: 70px;
}
.hero-section-central-row {
  margin-bottom: 30px;
}
.hero-section-wrow-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.hero-section_tite {
  font-family: var(--font-bold);
  line-height: 150%;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #2e3a59;
  margin-bottom: 65px;
}

/* slider */
.slider {
  display: none;
}

/* footer */
.fotter-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.advantages {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
  padding-top: 100px;
  background-color: #f8fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* accordeon */
.advantages_title {
  max-width: 640px;
  font-family: var(--font-bold);
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #2e3a59;
  margin-bottom: 25px;
  line-height: 50px;
}
.advantages_content {
  max-width: 640px;
  font-family: var(--font-family);
  text-align: center;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e3a59;
}
.accordion {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.accordion-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.accordion__title {
  cursor: pointer;
  text-align: start;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-bold);
  font-weight: 700;
  font-size: 16px;
  color: #2e3a59;
  border-bottom: 1px solid #e7ebf0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.accordion__content {
  padding-left: 64px;
  text-align: start;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: #2e3a59;
  overflow: hidden;
  box-sizing: content-box;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
  border-bottom: 1px solid #e7ebf0;
}
.accordion__content.active {
  visibility: visible;
  opacity: 1;
  padding-bottom: 15px;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}
.accordion__title.active {
  color: #00c368;
  border: none;
}
.accordion__title.active span {
  transform: rotate(180deg);
}
.accordion_span {
  background-image: url(../img/accordeon/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 11px;
  padding-left: 15px;
}

/* reviews */
.reviews {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f5f5f5;
}
.reviews_title {
  max-width: 814px;
  margin: 0 auto;
  font-family: var(--font-bold);
  font-weight: 700;
  font-size: 40px;
  color: #2e3a59;
  margin-bottom: 48px;
  line-height: 50px;
}
.reviews-wrapper {
  max-width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 130px;
}
.reviews-smoll-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.reviews-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 70px;
}

.reviews-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
}

.reviews-card-user_img {
  width: 187px;
  height: 187px;
  margin: 0 auto;
}
.reviews-card-qutes_img {
  position: absolute;
  color: #00c368;
}
.left {
  top: 0%;
  left: -60px;
}
.right {
  right: 0%;
  bottom: -35px;
}
.reviews-card_content {
  position: relative;
  max-width: 489px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  color: #2e3a59;
}
.reviews-card-user_name {
  font-family: var(--font-bold);
  font-weight: 700;
}
.reviews-card-smoll {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 15px;
  padding: 10px;
}
.reviews-card-smoll-user_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
.reviews-card-smoll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.reviews-card-smoll_content {
  text-align: start;
  max-width: 248px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e3a59;
  margin-bottom: 15px;
}
.reviews-card-smoll-user_name {
  font-family: var(--font-bold);
  font-weight: 700;
}
