/* reset */
@import './reset/reset';
/* reset */

/* imports */
@import './vars/vars';
@import './blocks/block';
@import './blocks/media';

/* sticky footer */
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* fonts */
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e3a59;
}
.footer {
  margin-top: auto;
}
/* sticky footer */
