/* reset */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* reset */
/* imports */
:root {
  --font-family: "RobotoRegular", sans-serif;
  --font-bold: "RobotoBold", sans-serif;
}

@font-face {
  font-family: "RobotoRegular";
  src: url(/fonts/RobotoRegular.woff), url(/fonts/RobotoRegular.woff2);
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "RobotoBold";
  src: url(/fonts/RobotoBold.woff), url(/fonts/RobotoBold.woff2);
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
:root {
  --font-family: "RobotoRegular", sans-serif;
  --font-bold: "RobotoBold", sans-serif;
}

@font-face {
  font-family: "RobotoRegular";
  src: url(/fonts/RobotoRegular.woff), url(/fonts/RobotoRegular.woff2);
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "RobotoBold";
  src: url(/fonts/RobotoBold.woff), url(/fonts/RobotoBold.woff2);
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
/* conteiner */
.conteiner {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

/* header */
.header-wrapper {
  margin-top: 65px;
  margin-bottom: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 90px;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-wrapper {
  display: flex;
  align-items: center;
  gap: 94px;
}

.header-nav-wrapper_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #a6abbd;
}

.link_active {
  box-shadow: 0 8px 16px 0 rgba(0, 195, 104, 0.4);
  background: #00c368;
  border-radius: 8px;
  padding: 4px 24px;
  color: #fff;
}

.header-nav-wrapper_btn {
  box-shadow: 0 8px 16px 0 rgba(0, 195, 104, 0.4);
  background: #00c368;
  border-radius: 8px;
  padding: 4px 24px;
  color: #fff;
}

/* hero */
.hero-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(/img/hero/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section-img {
  display: none;
}

.hero-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 70px;
}

.hero-section-wrow-block_img {
  height: 230px;
}

.hero-section-wrow-block_svg {
  color: #2e3a59;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.hero-section-wrow-block_svg:hover {
  color: #00c368;
}

.hero-section-wrow-block_content {
  max-width: 186px;
}

.hero-section-wrow {
  display: flex;
  align-items: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}

.hero-section-wrow-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section_tite {
  font-family: var(--font-bold);
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #2e3a59;
  margin-bottom: 80px;
}

/* slider */
.slider {
  display: none;
}

/* footer */
.fotter-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.advantages {
  max-width: 870px;
  padding-top: 100px;
}

/* accordeon */
.advantages_title {
  font-family: var(--font-bold);
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #2e3a59;
  margin-bottom: 25px;
  line-height: 50px;
}

.advantages_content {
  font-family: var(--font-family);
  text-align: center;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e3a59;
}

.accordion {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.accordion-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}

.accordion__title {
  cursor: pointer;
  text-align: start;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-bold);
  font-weight: 700;
  font-size: 16px;
  color: #2e3a59;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #e7ebf0;
}

.accordion__content {
  text-align: start;
  padding-left: 65px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: #2e3a59;
  overflow: hidden;
  box-sizing: content-box;
  padding-bottom: 7px;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
  border-bottom: 1px solid #e7ebf0;
}

.accordion__content.active {
  visibility: visible;
  opacity: 1;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}

.accordion__title.active {
  color: #00c368;
  border: none;
}

.accordion__title.active span {
  transform: rotate(180deg);
}

.accordion_span {
  background-image: url(/img/accordeon/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 11px;
  padding-left: 15px;
}

/* reviews */
.reviews {
  max-width: 870px;
  padding-top: 100px;
  background-color: #f5f5f5;
}

.reviews_title {
  font-family: var(--font-bold);
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #2e3a59;
  margin-bottom: 48px;
  line-height: 50px;
}

.reviews-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.reviews-smoll-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.reviews-card {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  border-radius: 32px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.reviews-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
}

.reviews-card-user_img {
  width: 187px;
  height: 187px;
  margin: 0 auto;
}

.reviews-card-qutes_img {
  position: absolute;
  color: #00c368;
}

.left {
  top: 20px;
  left: 40%;
}

.right {
  top: 85%;
  right: 15px;
}

.reviews-card_content {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  color: #2e3a59;
}

.reviews-card-user_name {
  font-family: var(--font-bold);
  font-weight: 700;
}

.reviews-card-smoll {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 15px;
  padding: 10px;
}

.reviews-card-smoll-user_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.reviews-card-smoll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviews-card-smoll_content {
  text-align: start;
  max-width: 195px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e3a59;
  margin-bottom: 15px;
}

.reviews-card-smoll-user_name {
  font-family: var(--font-bold);
  font-weight: 700;
}

@media (max-width: 991px) {
  /* header */
  .header-wrapper {
    margin: 0;
  }
  .header {
    margin-top: 15px;
  }
  .conteiner {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    margin: 0 auto;
  }
  .hero-section-wrapper {
    display: none;
  }
  /* hero */
  .hero-section {
    padding: 0;
    margin: 0;
    background-image: none;
  }
  .hero-section_tite {
    display: none;
  }
  .hero-section-img {
    display: block;
  }
  /* slider */
  .slider {
    display: block;
  }
  .slider-section-title {
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #2e3a59;
    margin-bottom: 50px;
  }
  /* footer */
  .fotter-wrapper {
    flex-direction: row;
    row-gap: 50px;
  }
  /* accordeon */
  .accordion {
    display: flex;
    flex-direction: column;
  }
  .accordion_img {
    display: none;
  }
  .accordion__title {
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 16px;
    color: #2e3a59;
    padding-bottom: 7px;
    border-bottom: 1px solid #e7ebf0;
  }
  .accordion__content {
    padding-left: 0;
    padding-right: 40px;
    text-align: start;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    color: #2e3a59;
    overflow: hidden;
    box-sizing: content-box;
    padding-bottom: 7px;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
    border-bottom: 1px solid #e7ebf0;
  }
  .accordion__content.active {
    visibility: visible;
    opacity: 1;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
  }
  .accordion__title.active {
    color: #00c368;
    border: none;
  }
  .accordion__title.active span {
    transform: rotate(180deg);
  }
  .accordion_span {
    background-image: url(/img/accordeon/Vector.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 11px;
    padding-left: 15px;
  }
  /* reviews */
  .reviews {
    padding: 0;
    background-color: #fff;
  }
  .reviews_title {
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #2e3a59;
    margin-bottom: 90px;
  }
  .reviews-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .reviews-smoll-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .reviews-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    padding-top: 80px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 195, 104, 0.24);
    background: #fff;
  }
  .reviews-card-wrapper {
    align-items: center;
  }
  .reviews-card-user_img {
    width: 97px;
    height: 97px;
    position: absolute;
    top: -48.5px;
    left: 50%;
    transform: translate(-50%);
  }
  .reviews-card-qutes_img {
    position: absolute;
    color: #a6abbd;
  }
  .left {
    top: 20px;
    left: 15px;
  }
  .right {
    top: 20px;
    right: 15px;
  }
  .reviews-card_content {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #2e3a59;
  }
  .reviews-card-user_name {
    font-family: var(--font-bold);
    font-weight: 700;
  }
  .reviews-card-smoll {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
  }
  .reviews-card-smoll-user_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
  }
  .reviews-card-smoll-wrapper {
    display: flex;
    flex-direction: column;
  }
  .reviews-card-smoll_content {
    text-align: start;
    max-width: 195px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2e3a59;
    margin-bottom: 15px;
  }
  .reviews-card-smoll-user_name {
    font-family: var(--font-bold);
    font-weight: 700;
  }
  /* advantages */
  .advantages {
    padding-top: 0;
  }
  /* swiper */
  .swiper {
    margin-bottom: 100px;
  }
  .swiper-pagination-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 20px;
    height: 11px;
    position: sticky;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }
  .swiper-button-prev {
    transform: rotate(90deg);
  }
  .swiper-button-next {
    transform: rotate(270deg);
  }
  .swiper-pagination {
    max-width: 50%;
  }
  .swiper-pagination-bullet {
    background-color: #a6abbd;
  }
  .swiper_img {
    margin-bottom: 22px;
  }
  .swiper_content {
    margin: 0 auto;
    max-width: 80%;
  }
  .swiper-slide {
    margin-bottom: 0;
  }
}
/* sticky footer */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* fonts */
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e3a59;
}

.footer {
  margin-top: auto;
}

/* sticky footer *//*# sourceMappingURL=main.css.map */